{% extends 'index/base.html' %}
{% load app_filter %}
{% block title %}News Feed{% endblock %}
{% block home_active %}class= "active"{% endblock %}
{% block body %}
<style>
    .content {
        width: 80%;
        border: 1px solid;
        padding: 20px;
        overflow: hidden;
    }

    .content img {
        margin-right: 15px;
        float: left;
    }
</style>

    <h2>Welcome to IITB-Portal</h2><br>
    <ul>
        {% if news_feed %}
        {% for feed in news_feed %}
        {% if feed.my_tag in interests|interest_name %}
        <div class="content">
            <a href={{ feed.href_url }} target="_blank">{% autoescape off %} {{ feed.image_url }}
                {% endautoescape %} </a>
            <div>
                <h3><a href={{ feed.href_url }} target="_blank">{{ feed.topic }}</a></h3>
                <p>{{ feed.desc }}</p>
                <em style="float:right;"> {{ feed.date }} <br> {{ feed.my_tag }} </em>

            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h3 style="color: green">Update Interests in Profile section to see the news feed :) </h3>
        {% endif %}
    </ul>

{% endblock %}
